---
---

@charset 'UTF-8';
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600');
@import url('font-awesome.min.css');
@import 'helios';

/*********************************************************************************/
/* Mixins and Variables                                                          */
/*********************************************************************************/

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@-webkit-keyframes glow {
  0% {
    border-color: #888;
  }
  100% {
    border-color: #000;
  }
}

@-moz-keyframes glow {
  0% {
    border-color: #888;
  }
  100% {
    border-color: #000;
  }
}

@-o-keyframes glow {
  0% {
    border-color: #888;
  }
    100% {
  border-color: #000;
  }
}

@-ms-keyframes glow {
  0% {
    border-color: #888;
  }
  100% {
    border-color: #000;
  }
}

@keyframes glow {
  0% {
    border-color: #888;
  }
  100% {
    border-color: #000;
  }
}

$orange: #df7366;
.orange {
  color: #df7366;
}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

/* Hide all body elements */
#feeds {
  display: none;
}

.wrapper.style1 {
    padding-top: 0;
    margin-bottom: 0;
  }

.image-stripe {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.reel {
  h2 {
    padding: 18%;
    color: white;
  }
}

.image.featured{
  &.irs, &.bitcoin, &.options {
    box-shadow: 0px 0px 10px #888;
  }
  &.watsi {
    position: relative;
    box-shadow: 0px 0px 10px #888;
    margin-bottom: 2em;
    img {
      max-height: 550px;
    }
    .donate-message {
      position: absolute;
      bottom: 25px;
      right: 25px;
      color: $orange;
      border: 5px solid $orange;
      border-radius: 5px;
      height: 30%;
      width: 25%;
      padding: 2%;
      opacity: 0;
      font-size: 1.5em;
      line-height: 1.2;
      text-align: center;
      @media screen and (min-width: 850px) and (max-width: 950px) {
        font-size: 1.3em;
        line-height: 1em;
      }
      @media screen and (min-width: 500px) and (max-width: 850px) {
        font-size: .8em;
        line-height: 1em;
      }
      .rs-donate-message {
        @media screen and (max-width: 500px) {
          display: none;
        }
      }
    }
  }
  &.one {
    background-image: url('../images/pic01.jpg');
  }
  &.two {
    background-image: url('../images/pic02.jpg');
  }
  &.three {
    background-image: url('../images/pic03.jpg');
  }
  &.four {
    background-image: url('../images/pic04.jpg');
  }
  &.five {
    background-image: url('../images/pic05.jpg');
  }
}

article {
  &.bad {
    border-bottom: solid 2px #f15755;
  }
  &.good {
    border-bottom: solid 2px #1abc9c;
  }
}
